
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr style="width: 600px; font-weight: 700; height: 15px;">
					<td
						style="
						border-left-width: 0px;
						border-right-width: 0px;
						border-top-width: 1px;
						border-bottom-width: 0px;
						border-style: solid;
						border-top-color: #d1d5db;
						border-bottom-color: #fff;
						border-left-color: #fff;
						border-right-color: #fff;
						"
					></td>
				</tr>
				<tr style="line-height: 36px">
					<td style="margin: 0 8px; text-align: center; vertical-align: middle">
					<a href="https://facebook.com/" rel="noreferrer" target="_blank" style="margin: 0 8px">
						<img
						src="https://csm-global-files-staging.enouvo.com/FB.png"
						alt="facebook"
						style="width: 28px; height: 28px"
						/>
					</a>
					<a href="https://www.youtube.com/watch" rel="noreferrer" target="_blank" style="margin: 0 8px">
						<img
						src="https://csm-global-files-staging.enouvo.com/Youtube.png"
						alt="youtube"
						style="width: 28px; height: 28px"
						/>
					</a>
					<a href="https://www.linkedin.com/" rel="noreferrer" target="_blank" style="margin: 0 8px">
						<img
						src="https://csm-global-files-staging.enouvo.com/Lindn.png"
						alt="linkedin"
						style="width: 28px; height: 28px"
						/>
					</a>
					</td>
				</tr>
				<tr>
					<td>
					<p
						style="
						mso-line-height-rule: exactly;
						margin: 0;
						overflow-wrap: break-word;
						line-height: 16px;
						margin: 2px;
						color: #525f7f;
						text-align: center;
						"
					>
					Anh Minh © 2024. All Rights Reserved.
					</p>
					</td>
				</tr>
				<tr>
					<td>
					<p
						style="
						mso-line-height-rule: exactly;
						margin: 0;
						overflow-wrap: break-word;
						line-height: 16px;
						margin: 2px;
						color: #525f7f;
						text-align: center;
						"
					>
					Anh Minh.
					</p>
					</td>
				</tr>
				<tr>
					<td>
					<p
						style="
						mso-line-height-rule: exactly;
						margin: 0;
						overflow-wrap: break-word;
						line-height: 16px;
						margin: 2px;
						color: #525f7f;
						text-align: center;
						"
					>
						Contact us at&#160;
						<a
						href="mailto:info@loyaltaxi.com"
						style="text-decoration: none; color: #5487f5; font-weight: 600"
						>
						info@loyaltaxi.com
						</a>
						&#160;or&#160;
						<b style="color: #78777a">819-663-5252</b>
					</p>
					</td>
				</tr>
			</table>
		</div>
    </body>
</html>